Repository AlexSergey/codeformat-node-module: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:package, npm run lint:ts, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "package.json": ["npm run format:package"],
  "src/**/*.{ts,tsx}": ["npm run lint:ts"],
  "src/**/*.{ts,tsx,json}": ["prettier --write", "eslint --fix"],
  "*.md": ["prettier --write"]
}

fix: lint-staged
  .lintstagedrc.cjs
  .lintstagedrc.json
Due: none

fix: eslint jest formatting plugin
  .eslintrc.cjs
Due: none

fix: fix eslint
  .eslintrc.cjs
Due: none

feat: update tsconfig
  tsconfig.json
Due: none

fix: fix tsconfig
  tsconfig.json
Due: none

fix: add json parser to ESLint
  .eslintrc.cjs
  package-lock.json
  package.json
Due: npm run format:package

fix: nvmrc
  .nvmrc
Due: none

fix: fix no extradep rule
  .eslintrc.cjs
Due: none

feat: eslint-plugin-perfectionist
  .eslintrc.cjs
  package-lock.json
  package.json
Due: npm run format:package

feat: update all dependencies
  package-lock.json
  package.json
Due: npm run format:package

feat: add regexp
  .eslintrc.cjs
  package-lock.json
  package.json
Due: npm run format:package

feat: add sonarjs
  .eslintrc.cjs
  package-lock.json
  package.json
Due: npm run format:package

feat: update node to v20
  .gitattributes
  .gitignore
  .nvmrc
  package-lock.json
  package.json
  src/message.interface.ts
  src/message.ts
  tsconfig.json
Due: npm run format:package, npm run lint:ts, prettier --write, eslint --fix

fix: fix eslint dependencies
  package-lock.json
  package.json
  src/index.ts
Due: npm run format:package, npm run lint:ts, prettier --write, eslint --fix

feat: eslint 9 preparaion for use
  .eslintrc.cjs
  .nvmrc
  package-lock.json
  package.json
Due: npm run format:package

feat: eslint 9 support
  .eslintrc.cjs
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.cjs
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:package

fix: add ignore files and update module
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format:package

fix: fix ignores
  eslint.config.mjs
Due: none

fix: fix configuration
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format:package

feat: drop mandatory I prefix for interfaces
  eslint.config.mjs
Due: none

feat: update eslint conf
  eslint.config.mjs
  src/message.interface.ts
  src/message.ts
Due: npm run lint:ts, prettier --write, eslint --fix

feat: update eslint config
  eslint.config.mjs
Due: none

fix: fix small bugs
  .lintstagedrc.cjs
  package-lock.json
  package.json
Due: npm run format:package
